#!/bin/bash
TUN=$(  ip -4 addr show {{ vpn_config.dev  }}| grep -oP '(?<=inet\s)\d+(\.\d+){3}')
iptables -F
iptables -t nat -A POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
iptables -t nat -A POSTROUTING -o {{ vpn_config.dev  }} -j MASQUERADE
iptables -A FORWARD -j ACCEPT
route add -net {{ network_cidr }} gw $TUN
